body{
    background-color: black;
}
.menu-navegacion {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos a lo largo del contenedor */
    background-color: black;
    padding: 10px;
    margin: 0;
    list-style: none;
}
.menu-navegacion li {
    text-align: center;
    flex-grow: 1; /* Para que cada elemento ocupe el mismo espacio */
}
.menu-navegacion a {
    color: red;
    text-decoration: none;
    display: block;
    padding: 10px;
}
.menu-navegacion a:hover {
    background-color: lightblue;
}